<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        Algorithms
    </div>
    <div class="text">
        An algorithm is a set of detailed, unambiguous and ordered instructions. An algorithm illustrates steps to convert given input into the desired output.
        <br/>
        <h3>Pseudocode</h3>
        Pseudocode is an English language-like way of representing the algorithm
    </div>
    <div class="example">
        <ul style="list-style-type: none">
            <li>
                add 1 to pageCount
            </li>
            <li>
                Print heading line1
            </li>
            <li>
                Print heading line2
            </li>
            <li>
                Set lineCount to zero
            </li>
            <li>
                Read customer record
            </li>
            <li>IF employmentStatus is PART_TIME THEN
            </li>
            add 1 to partTimeCount
            ELSE
            add 1 to fullTimeCount
            ENDIF
        </ul>
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>