
<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>
<div class="card-container">
    <div class="card-deck">
        <div class="card">
            <img src="https://res.cloudinary.com/jleplerwt/image/upload/v1562875893/WeeklyChallenge/33236806_f9j9ia.jpg" class="card-img-top" alt="N.Boober">
            <div class="card-body">
                <h5 class="card-title">Nick Boober</h5>
                <p class="card-text">With my educational background and strong technical experience, it was only a matter of time that I find myself in a position to help others pursue their java developer dreams. My five years of professional experience in Java programming includes programming new applications as well as maintenance work, customer service and support, problem isolation and analysis, application and requirement analysis, and process improvement. I joined Bootcamp Blog to assist others who desire to learn java, html, css, and other languages.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Member since June 10, 2019</small>
                <div>
                    <a href="https://www.linkedin.com/" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858739/WeeklyChallenge/1200px-Linkedin.svg_qxnby6.png" alt="LinkedIn Image"/></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858711/WeeklyChallenge/_65QFl7B_op8jpu.png" alt="Twitter Image"/></a>
                    <a href="https://www.facebook.com/" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858701/WeeklyChallenge/fb_icon_325x325_qejlhv.png" alt="Facebook Image"/></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="https://res.cloudinary.com/jleplerwt/image/upload/c_scale,e_grayscale,w_616/v1562876589/WeeklyChallenge/file_xvmmmx.jpg" class="card-img-top" alt="J.Lepler">
            <div class="card-body">
                <h5 class="card-title">Jacob Lepler</h5>
                <p class="card-text">As a senior software developer, I have gained experience in designing, constructing, testing and supporting Java applications. My expert knowledge in Web and non-Web Java solutions has played a contributing factor to the success of all my projects. I also have experience in making database and interface systems more effective. I understand the importance of teamwork and have led teams with specific supervision in coding, analysis relative and performing unit testing on applicable codes. I joined Bootcamp Blog with the desire to meet other professionals in the field, and to share my knowledge as well as learn from other members.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Member since June 10, 2019</small>
                <div>
                    <a href="https://www.linkedin.com/" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858739/WeeklyChallenge/1200px-Linkedin.svg_qxnby6.png" alt="LinkedIn Image"/></a>
                    <a href="https://twitter.com/?lang=en" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858711/WeeklyChallenge/_65QFl7B_op8jpu.png" alt="Twitter Image"/></a>
                    <a href="https://www.facebook.com/" target="_blank"><img width="20px" src="https://res.cloudinary.com/jleplerwt/image/upload/v1562858701/WeeklyChallenge/fb_icon_325x325_qejlhv.png" alt="Facebook Image"/></a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>