<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        What is HTML?
    </div>
    <div class="text">
        HTML stands for Hyper Text Markup Language
        <br/>
        HTML is the standard markup language for Web pages
        <br/>
        HTML elements are the building blocks of HTML pages
        <br/>
        <br/>
        <h3>HTML Attributes</h3>
        HTML elements can have attributes
        <br/>
        Attributes provide additional information about the element
        <br/>
    </div>
    <div>
        <img src="https://res.cloudinary.com/jleplerwt/image/upload/v1562873206/WeeklyChallenge/Capture_dnzm8d.png" alt="html image"/>
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>