<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        Strings
    </div>
    <div class="text">
        In Java, string is basically an object that represents sequence of char values. An array of characters works same as Java string.
    </div>
    <div class="example">
        String s="javatpoint";
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>