<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        ArrayLists
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis ducimus enim excepturi explicabo fugiat, illo incidunt nulla reprehenderit, sit vel voluptatibus? Atque dolores facilis iusto officia repudiandae sapiente? Qui!
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>