<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        About the Bootcamp
    </div>
    <div class="text">
        <h4>WHAT IS THE PROGRAM?</h4>
        The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week, immersive software engineering program funded by the Department of Labor. This course aims to increase the number of skilled software developers in this country. We do this by accepting qualified candidates who cannot afford the cost of a coding boot camp. If accepted into the program all fees will be covered by the program.

        <br/>
        <br/>
        <h4>What will you Learn?</h4>
        The Java Web Development Bootcamp takes you from your first java program to developing a web application. This course will give you a fast start on your career so you can take it to the next level. The course will teach you by forcing you to write over 130 java applications, including 5 major web applications. Programming challenges will keep you on your toes.
        <br/>
        <br/>
        You'll learn to create web pages. You'll use frameworks and stored procedures. You'll connect to a database using the Java Persistence API(JPA) and Hibernate, and most importantly, all assignments are submitted through git, so you will learn to develop using best practices in class, to make it easy to contribute value when you are on the job.

        <br/>
        <br/>
        <h4>Is this bootcamp right for you?</h4>
        The bootcamp is for programmers with a basic understanding of an object oriented language: Java, C#, VB.NET, Python, PHP, Ruby or C++. You do not need experience developing web applications.    </div>
</div>
<footer class="footer-1" th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>