<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        What is GitHub?
    </div>
    <div class="text">
        GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.
        GitHub is controlled by git.
        <br/>
        In my next post, I will show you the main commands so that you can start your own repository on github.
    </div>
    <div class="center">
    <img width="80%"src="https://res.cloudinary.com/jleplerwt/image/upload/v1562937686/WeeklyChallenge/github-ui_mshkoy.png" alt="Github Image"/>
    </div>
</div>

<footer class="footer-1" th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>