<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<div>
<div th:insert="base::navbar"></div>

<div class="home-container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">What is GitHub?</h5>
                    <p class="card-text">GitHub is a code hosting platform for version control and collaboration.</p>
                    <a href="/github-1" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Git Walkthrough</h5>
                    <p class="card-text">Learn Commands Prompts to better manage your GitHub</p>
                    <a href="/github-2" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ArrayLists</h5>
                    <p class="card-text">An ArraylList is a container for many different things in Java.</p>
                    <a href="/core-java-1" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Strings</h5>
                    <p class="card-text">Sentences, words, paragraphs, oh my...</p>
                    <a href="/core-java-2" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Classes</h5>
                    <p class="card-text">A Class is a Blueprint for the structure of something. A house or car can be a class.</p>
                    <a href="/oop-1" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Methods</h5>
                    <p class="card-text">Methods are smaller reusable programs you can place throughout your code.</p>
                    <a href="/oop-2" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">HTML Basics</h5>
                    <p class="card-text">Html is the basic structure of a webpage. In fact your looking at it right now.</p>
                    <a href="/blog-html" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CSS/ Bootstrap Basics</h5>
                    <p class="card-text">CSS gives color and style to an otherwise boring webpage.</p>
                    <a href="/blog-css-bootstrap" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Program Design</h5>
                    <p class="card-text">When writing a program you need to begin with a solid understanding of the problem you intend to solve.</p>
                    <a href="/p-design" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Algorithms</h5>
                    <p class="card-text">An algorithm is a set of detailed, unambiguous and ordered instructions.</p>
                    <a href="/algorithm" class="btn btn-primary">View the Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>