<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        Classes
    </div>
    <div class="text">
        Classes and Objects are basic concepts of Object Oriented Programming which revolve around the real life entities.
        <br/>
        <br/>
        A class is a user defined blueprint or prototype from which objects are created.  It represents the set of properties or methods that are common to all objects of one type.     </div>
    <div class="example">
        // Class Declaration
        <br/>
        public class Dog
        <br/>
        {
        <br/>
        // Instance Variables
        <br/>
        String name;
        <br/>
        String breed;
        <br/>
        int age;
        <br/>
        String color;
        <br/>
        <br/>

        // Constructor Declaration of Class
        <br/>
        public Dog(String name, String breed,int age, String color)
        <br/>
        {
        <br/>
        this.name = name;
        <br/>
        this.breed = breed;
        <br/>
        this.age = age;
        <br/>
        this.color = color;
        <br/>
        }
        <br/>
        <br/>

        // method
        <br/>
        public String getName()
        <br/>
        {
        <br/>
        return name;
        <br/>
        }
    </div>
</div>
<footer th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>