<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        Methods
    </div>
    <div class="text">
        A method is a set of code which is referred to by name and can be called (invoked) at any point in a program simply by utilizing the method's name.  Think of a method as a subprogram that acts on data and often returns a value.
        <br/>
        <br/>
        Each method has its own name.  When that name is encountered in a program, the execution of the program branches to the body of that method.  When the method is finished, execution returns to the area of the program code from which it was called, and the program continues on to the next line of code.    </div>
    <div class="example">
        public class MyClass {
        <br/>
        <br/>
        static int myMethod(int x) {
        <br/>
        return 5 + x;
        <br/>
        }
        <br/>
        <br/>

        public static void main(String[] args) {
        <br/>
        System.out.println(myMethod(3));
        <br/>
        }
        <br/>
        }
        <br/>
        // Outputs 8 (5 + 3)
    </div>
</div>
<footer class="footer-1" th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>