<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:insert="base::head">

</head>
<body>
<div th:insert="base::navbar"></div>

<div class="container">
    <div class="title">
        Program Design
    </div>
    <div class="text">
        "The hardest single part of building a software system is deciding precisely what to build." —Fred Brooks
        <br/>
        When writing a program you need to begin with a solid understanding of the problem you intend to solve.
        Then, move on to understanding the data you will be using in your solution.
        Your program will use data in variables, constants and literals.
        Your program will also contain data structures, files and data validation.
        <br/>
        <h2>Overview: Developing software solutions</h2>
        <br/>
        <h3>Requirements and design phase:</h3>
            <ul>
                <li>Define the problem to be solved.</li>
                <li>Outline your solution on paper.</li>
                <li>Develop the outline into an algorithm.</li>
                <li>Test the algorithm for correctness.</li>
                <li>Document your solution.</li>
            </ul>
        <br/>
        <h3>Three different approaches to program design:</h3>
        <br/>
        <ul>
            <li>Procedural-driven</li>
            <li style="list-style-type: circle; padding-left: 20px; list-style-position: inside">Example: C, Fortran, Basic</li>
            <li>Object-oriented / Event-driven</li>
            <li style="list-style-type: circle; padding-left: 20px; list-style-position: inside">Example: Java, C#</li>
            <li>Data-driven program design (called symbolic programming)</li>
            <li style="list-style-type: circle; padding-left: 20px; list-style-position: inside">Example: LISP</li>
        </ul>
    </div>
</div>
<footer class="footer-1" th:insert="base::footer"></footer>
<div th:insert="base::javascript"></div>
</body>
</html>